@page "/counter"

<fast-card>
    <h1>Counter</h1>

    <p>Current count: @currentCount</p>

    <fast-button appearance="accent" @onclick="IncrementCount">Click Me</fast-button>
</fast-card>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
