@page "/"

    <div id="header">
        <h1>Blazor Bits</h1>

        <h5><a href="https://blazor.net" rel="noopener noreferrer" target="_blank" title="Blazor.net Homepage">Blazor</a> WebAssembly SPA</h5>

        <p><i>Automatically deployed on GitHub Pages with GitHub Actions</i></p>

        <br />
    </div>

<div id="body">
    <p>Blazor Bits GitHub Repository: <a href="https://github.com/JeepNL/BlazorBits" rel="noopener noreferrer" target="_blank" title="Blazor Bits on GitHub">https://github.com/JeepNL/BlazorBits <span class="oi oi-external-link"></span></a></p>
</div>
