@page "/"

<div id="header">
    <h1>Blazor Bits</h1>

    <h5>Blazor WebAssembly SPA deployed on GitHub Pages</h5>

    <br />
</div>

<div id="body">
    <p>GitHub Repository: <a href="https://github.com/JeepNL/BlazorBits" rel="noopener noreferrer" target="_blank" title="Blazor Bits on GitHub">https://github.com/JeepNL/BlazorBits <span class="oi oi-external-link"></span></a></p>
</div>
